[submodule "semestre-1/mcic-computing"]
	path = semestre-1/mcic-computing
	url = git@github.com:Juferoga/mcic-computing.git
[submodule "semestre-1/mcic-math-tools-data"]
	path = semestre-1/mcic-math-tools-data
	url = git@github.com:Juferoga/mcic-math-tools-data.git
[submodule "semestre-1/mcic-data-analytics"]
	path = semestre-1/mcic-data-analytics
	url = git@github.com:Juferoga/mcic-data-analytics.git
[submodule "semestre-2/mcic-computational-intelligence"]
	path = semestre-2/mcic-computational-intelligence
	url = git@github.com:Juferoga/mcic-computational-intelligence.git
[submodule "semestre-2/mcic-business-intelligence"]
	path = semestre-2/mcic-business-intelligence
	url = git@github.com:Juferoga/mcic-business-intelligence.git
[submodule "semestre-2/mcic-parallel-computing"]
	path = semestre-2/mcic-parallel-computing
	url = git@github.com:Juferoga/mcic-parallel-computing.git
[submodule "semestre-2/mcic-trabajo-grado-1"]
	path = semestre-2/mcic-trabajo-grado-1
	url = git@github.com:Juferoga/mcic-trabajo-grado-1.git
